
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
<form method="post" asp-action="ChangePassword">
    <input name="Email" type="text" placeholder="Email"/>
    <input name="Password" type="password" placeholder="Old Password"/>
    <input name="newPass" type="password" placeholder="New Password"/>
    <button type="post">Submit</button>
</form>
