
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>
<form method="post" asp-action="ForgotPassword">
    <input name="Email" type="text" placeholder="Email"/>
    <input name="newPass" type="password" placeholder="New Password"/>
    <input name="confPass" type="password" placeholder="Confirm Password"/>
    <button type="post">Submit</button>
</form>

